<div class="home">
  <div class="home_background" style="background-image:url(../assets/images/about_back.jpg)"></div>

</div>
<div class="offers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h2>Top destinations in Nepal</h2>
          <div>take a look at these offers</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="items item_grid clearfix">

          <!-- Item -->
          <div class="item clearfix rating_5" *ngFor="let l of list">
            <div class="item_image"><img src={{l.imagesLocation}} width="278px" height="162px"></div>
            <div class="item_content">
              <div class="item_price">From {{l.price}}</div>
              <div class="item_title" >{{l.location}}</div> 
              
              <ul>
                <li float:left style="width: auto; " >{{l.days}} Days  </li>
                <li float:left style="width: auto; " >  Pick A Date: <input name="date" [(ngModel)]="date" #startdate="ngModel" type="date"> </li>
                <!-- <li >{{date}}</li> -->
                <!-- <li>4 nights</li>0
									<li>3 star hotel</li> -->
              </ul>

              <div class="item_text">{{l.packageDescription}}</div>
              <button class="btn btn-danger" (click)=onBooked(l,date)>Book Now!</button>
              <h6 *ngIf="has_Booked">
                <div class="alert alert-success"> You have successfully booked this package. We will get in touch with you!</div>
              </h6>


            </div>
          </div>



        </div>
      </div>
    </div>

  </div>
</div>