<div class="home">
	<div class="home_background" style="background-image:url(../assets/images/background.jpg)"></div>
	<div class="home_content">
		<div class="home_content_inner">
			<div class="home_text_large">discover</div>
			<div class="home_text_small">Discover Nepal</div>
		</div>
	</div>
</div>
<!-- 
<div class="container">

    <form class="form-group" #f="ngForm" (ngSubmit)="login(f)">
      <h3 class="form-signin-heading">Admin Login</h3>
      <div class="form-group">
            <div class="input-group required">
      <label for="inputEmail" class="input-group-addon glyphicon glyphicon-user" ></label>

      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" 
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" #e_mail="ngModel" name="email" placeholder="Email address" required autofocus>
     
    </div>
      <div class="alert alert-danger" *ngIf="e_mail.touched && !e_mail.valid">
            <div *ngIf="e_mail.errors.required">
                Email id is required</div>
            <div *ngIf="e_mail.errors.pattern">
                Email pattern doesn't match</div>
    
</div>
    </div>
    <div class="form-group">
            <div class="input-group required">
      <label for="inputPassword" class="input-group-addon glyphicon glyphicon-lock" ></label>
      <input type="password" [(ngModel)]="password" #passwd="ngModel"
      name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <div class="alert alert-danger" *ngIf="passwd.touched && !passwd.valid">
            <div *ngIf="passwd.errors.required">
                Password is required</div>
           
        </div>
    </div>
<br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
    
    </form>

  </div>  -->

<!-- <div class="find">
      
      <div class="find_background =" style="background-image:url(../assets/images/find.jpg)" ></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="find_title text-center">Find the Adventure of a lifetime</div>
          </div>
          <div class="col-12">
            <div class="find_form_container">
              <form action="#" id="find_form" class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
                <div class="find_item">
                  <div>Destination:</div>
                  <input type="text" class="destination find_input" required="required" placeholder="Keyword here">
                </div>
                <div class="find_item">
                  <div>Adventure type:</div>
                  <select name="adventure" id="adventure" class="dropdown_item_select find_input">
                    <option>Categories</option>
                    <option>Categories</option>
                    <option>Categories</option>
                  </select>
                </div>
                <div class="find_item">
                  <div>Min price</div>
                  <select name="min_price" id="min_price" class="dropdown_item_select find_input">
                    <option>&nbsp;</option>
                    <option>Price</option>
                    <option>Price</option>
                  </select>
                </div>
                <div class="find_item">
                  <div>Max price</div>
                  <select name="max_price" id="max_price" class="dropdown_item_select find_input">
                    <option>&nbsp;</option>
                    <option>Price</option>
                    <option>Price</option>
                  </select>
                </div>
                <button class="button find_button">Find</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div> -->
<!-- Top Destinations -->

<div class="top">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title text-center">
					<h2>Top destinations in Nepal</h2>
					<div>take a look at these offers</div>
				</div>
			</div>
		</div>
		<div class="row top_content">

			<!-- <div class="col-lg-3 col-md-6 top_col">

					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Mustang.jpg" alt="https://unsplash.com/@sgabriel"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRS 25000</div>
								<div class="top_item_text">Mustang</div>
							</div>
						</a>
					</div>
				</div> -->

			<!-- <div class="col-lg-3 col-md-6 top_col">

				
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Pokhara.jpg" alt="https://unsplash.com/@jenspeter"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRP 15000</div>
								<div class="top_item_text">Pokhara</div>
							</div>
						</a>
					</div>
				</div> -->

			<!-- <div class="col-lg-3 col-md-6 top_col">

					
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Lumbini.jpg" alt="https://unsplash.com/@anikindimitry"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRP 15000</div>
								<div class="top_item_text">Lumbini</div>
							</div>
						</a>
					</div>
				</div> -->

			<div class="col-lg-3 col-md-6 top_col" *ngFor="let l of list">

				<!-- Top Destination Item -->
				<div class="top_item">
					<a href="#">
						<div class="top_item_image"><img src={{l.imagesLocation}} width="255px" height="148px" alt=""></div>
						<div class="top_item_content">
							<div class="top_item_price">From {{l.price}}</div>
							<div class="top_item_text">{{l.location}}</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
