<form role="form">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="uLogin" placeholder="UserName/Email">
            <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
        </div>
    </div> <!-- /.form-group -->

    <div class="form-group">
        <div class="input-group">
            <input type="password" class="form-control" id="uPassword" placeholder="Password">
            <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
        </div> <!-- /.input-group -->
    </div> <!-- /.form-group -->

    <div class="registerLink">
        <label>
            New User?<a [routerLink]="['/register']" data-dismiss="modal"> Register Here </a>
        </label>
    </div>

    <!-- <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div> -->
     <!-- /.checkbox -->
</form>