
<link rel="stylesheet" href="../assets/css/style.default.css" id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="../assets/css/custom.css">


  <!-- <header id = "header_navbar" class="header">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <div class="navbar-header">
              <a href="index.html" class="navbar-brand d-none d-sm-inline-block">
              <div class="brand-text d-none d-lg-inline-block"><span>Happy Trip </span></div>
              <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
          </div>
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center"> 
            <li class="nav-item"><a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->

  <div id = "sidebar" class="page-content d-flex align-items-stretch h-100">
    <!-- Side Navbar -->
    <nav class="side-navbar" style="min-height: 610px" >
      <!-- Sidebar Header-->
      <div class="sidebar-header d-flex align-items-center">
        <div class="title">
          <h1  style="color: aliceblue">User Dashboard</h1>
        </div>
      </div>
      <ul class="list-unstyled">
        <li class="active"><a href="#"><H2>My Profile </H2></a></li>
        <li><a href="#"> <H2>Bookings</H2> </a></li>
        <li><a href="#"> <H2>Logout</H2> </a></li>
      </ul>
    </nav>
  </div>
<!--JavaScript files-->
