<link rel="stylesheet" href="../assets/css/style.default.css" id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="../assets/css/custom.css">

<div class="page">
  <div class="page-content d-flex align-items-stretch">


    <!-- <div id="sidebar" class="page-content d-flex align-items-stretch h-100"> -->
    <!-- Side Navbar -->
    <nav class="side-navbar" style="min-height: 610px">
      <!-- Sidebar Header-->
      <div class="sidebar-header d-flex align-items-center">
        <div class="title">
          <h5 style="color: aliceblue">User Dashboard</h5>
        </div>
      </div>
      <ul class="list-unstyled">
        <li [routerLinkActive]="['active']"><a [routerLink]="['./profile']"><h6>My Profile </h6></a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['./bookings']"> <h6>Bookings</h6> </a></li>
        <li [routerLinkActive]="['active']"><a href="#"> <h6>Logout</h6> </a></li>
      </ul>
    </nav>

    <div class="content-inner">
      <router-outlet></router-outlet>
      <!-- <section class="charts">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </section> -->
    </div>
  </div>



</div>
<!--JavaScript files-->

<script src="../assets/js/jquery-3.2.1.min.js"></script>
<script src="../assets/bootstrap/popper.min.js"> </script>
<script src="../assets/bootstrap/bootstrap.min.js"></script>