<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="header_container d-flex flex-row align-items-center justify-content-start">

          <!-- Logo -->
          <div class="logo_container">
            <div class="logo">
              <div>Happy Trip</div>
              <div>Explore Nepal</div>
              <div class="logo_image"><img src="../assets/images/logo.png" alt=""></div>
            </div>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav ml-auto">
            <ul class="main_nav_list">
              <li class="main_nav_item " [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
              <li class="main_nav_item "  [routerLinkActive]="['active']"><a [routerLink]="['/about-us']">About us</a></li>
              <li class="main_nav_item "  [routerLinkActive]="['active']"><a [routerLink]="['/packages']">Package</a></li>
              <li class="main_nav_item "  [routerLinkActive]="['active']"><a [routerLink]="['/contact-us']">Contact</a></li>
              <li class="main_nav_item " *ngIf = "loginToken != null && loginToken !== ''" [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">Dashboard</a></li>
              <li class="main_nav_item " *ngIf = "loginToken == null || loginToken === ''" [routerLinkActive]="['active']"><a [routerLink]="['/login']" >Login</a></li>
              <li class="main_nav_item " *ngIf = "loginToken == null || loginToken === ''" [routerLinkActive]="['active']"><a [routerLink]="['/register']" >Register</a></li>

              <!-- <li class="main_nav_item "  [routerLinkActive]="['active']"><a [routerLink]="['/register']">Register</a></li> -->
            </ul>
          </nav>

          <!-- Hamburger -->
          <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Menu -->

<div class="menu_container menu_mm">

  <!-- Menu Close Button -->
  <div class="menu_close_container">
    <div class="menu_close"></div>
  </div>

  <!-- Menu Items -->
  <!-- <div class="menu_inner menu_mm">
    <div class="menu menu_mm">
      <ul class="menu_list menu_mm">
        <li class="menu_item menu_mm"><a href="#">Home</a></li>
        <li class="menu_item menu_mm"><a href="about.html">About us</a></li>
        <li class="menu_item menu_mm"><a href="offers.html">Packages</a></li>
        <li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
        <li class="main_nav_item"><a data-toggle="modal" data-target="#exampleModal">Login</a></li>

      </ul>
    </div>

  </div> -->

</div>


  
  